# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.ruff_cache/
.pytest_cache/

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/

# Environments
.env
venv/

# IDE files
.vscode/
.idea/

# FEPA files
wdir/


# Test data generation scripts
examples/analysis/a6_ligand_conformation_analysis/*test_data.py
examples/analysis/a3_inter_apo_bp_analysis/*test_data.py
examples/analysis/a4_apo_holo_bp_analysis/*test_data.a1_binding_pocket_analysis.py
examples/analysis/a5_sc_torsion_analysis/*test_data.py
examples/analysis/a1_binding_pocket_analysis/*test_data.py
examples/analysis/a2_resolvation_analysis/*test_data.py

# Temporary files 
.*.lock
.*.npz
