# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.ruff_cache/
.pytest_cache/

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/

# Environments
.env
venv/

# IDE files
.vscode/
.idea/

# FEPA files
wdir/

# Test data generation scripts
examples/analysis/a6_ligand_conformation_analysis/*test_data.py
examples/analysis/a3_inter_apo_bp_analysis/*test_data.py
examples/analysis/a4_apo_holo_bp_analysis/*test_data.py

# Old tests
tests/a6_test/*

# Test data generation scripts 
/biggin/b230/magd5710/Documents/FEPA/examples/analysis/a3_inter_apo_bp_analysis/*test_data.py

# Pycache
/biggin/b230/magd5710/Documents/FEPA/tests/a3_test/__pycache__/*